.login-page{


min-height:100vh;

background:#f5ead7;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

gap:60px;


}




.login-left{


max-width:450px;


}




.login-left h1{


font-size:50px;

color:#4e342e;

margin-bottom:10px;


}




.login-left h2{


color:#795548;

font-size:28px;


}




.login-left p{


color:#6d4c41;

font-size:18px;

line-height:1.7;


}




.quote-box{


margin-top:30px;

background:white;

padding:20px;

border-radius:20px;

color:#5d4037;

box-shadow:
0 10px 25px rgba(78,52,46,0.15);


}






.login-card{


background:#fff8ed;

width:400px;

padding:45px;

border-radius:30px;


box-shadow:

0 20px 45px rgba(78,52,46,0.25);


}





.login-card h1{


text-align:center;

font-size:36px;

color:#4e342e;


}




.login-subtitle{


text-align:center;

color:#8d6e63;

margin-bottom:30px;


}






.login-input{


width:100%;

padding:15px;

margin-bottom:20px;

border-radius:15px;

border:2px solid #d7ccc8;

font-size:16px;

outline:none;


}





.login-input:focus{


border-color:#795548;

box-shadow:
0 0 10px rgba(121,85,72,0.2);


}







.login-btn{


width:100%;

padding:15px;

border:none;

border-radius:15px;

background:#6d4c41;

color:white;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:0.3s;


}





.login-btn:hover{


background:#4e342e;

transform:translateY(-3px);


}







.signup-text{


margin-top:25px;

text-align:center;

font-size:14px;

color:#795548;


}






@media(max-width:900px){


.login-page{


flex-direction:column;


}



.login-left{


text-align:center;


}



}