.register-page{


min-height:100vh;

background:
linear-gradient(
135deg,
#4e342e,
#6d4c41
);


display:flex;

justify-content:center;

align-items:center;

gap:80px;

position:relative;

overflow:hidden;

padding:40px;


}





.register-brand{


color:white;

max-width:420px;


}



.logo-circle{


width:90px;

height:90px;

background:#fff8ed;

color:#6d4c41;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:45px;

box-shadow:
0 15px 30px rgba(0,0,0,0.2);


}




.register-brand h1{


font-size:60px;

margin:20px 0 10px;


}




.register-brand p{


font-size:20px;

line-height:1.6;


}





.feature-list{


margin-top:30px;


}


.feature-list p{


font-size:17px;

margin:15px 0;


}







.register-box{


background:#fff8ed;

width:420px;

padding:45px;

border-radius:35px;


box-shadow:

0 30px 70px rgba(0,0,0,0.35);


animation:float 4s ease-in-out infinite;


}





.register-box h1{


text-align:center;

color:#4e342e;

font-size:38px;


}




.register-subtitle{


text-align:center;

color:#8d6e63;

margin-bottom:30px;


}







.register-input{


width:100%;

padding:16px;

margin-bottom:20px;

border-radius:15px;

border:2px solid #d7ccc8;

font-size:16px;

outline:none;


}





.register-input:focus{


border-color:#795548;

box-shadow:

0 0 12px rgba(121,85,72,0.3);


}







.register-btn{


width:100%;

padding:16px;

border:none;

border-radius:18px;

background:#6d4c41;

color:white;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.3s;


}




.register-btn:hover{


background:#4e342e;

transform:translateY(-4px);


}







.login-link{


text-align:center;

color:#795548;

margin-top:25px;


}








.floating-card{


position:absolute;

background:#fff8ed;

color:#6d4c41;

padding:15px 25px;

border-radius:20px;

font-weight:bold;

box-shadow:

0 15px 30px rgba(0,0,0,.2);


}



.card-one{


top:120px;

left:100px;

transform:rotate(-10deg);


}




.card-two{


bottom:120px;

right:100px;

transform:rotate(8deg);


}






@keyframes float{


0%,100%{

transform:translateY(0);

}


50%{

transform:translateY(-10px);

}


}







@media(max-width:900px){


.register-page{


flex-direction:column;

gap:40px;


}



.register-brand{


text-align:center;


}



.floating-card{


display:none;


}


}